*, *::before,*::after{
margin:0 ;
padding: 0;
box-sizing: border-box;
outline: none;
text-decoration: none;
list-style: none;
border: none;
}
:root{
    --color-white:hsl(252, 30%, 100%);
    --color-light:hsl(252, 30%, 90%);
    --color-gray:hsl(252, 15%, 60%);
    --color-primary:hsl(252, 75%, 60%);
    --color-secondary:hsl(252, 100%, 90%);
    --color-success:hsl(120, 95%, 60%);
    --color-danger:hsl(0, 95%, 60%);
    --color-dark:hsl(252, 30%, 15%);
    --color-black:hsl(252, 30%, 8%);

    --border-radius: 2rem;
    --card-border-radius: 1rem;

    --btn-padding: .6rem 2rem;

    --search-padding: .6rem 1rem;
    --card-padding:  1rem;
}

body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--color-dark);
   background-color: var(--color-light);
   overflow: hidden;
}
/* ................Custom Style................. */ 
.container{
    width: 90%;
    margin: 0 auto;
}

img{
    display: block;
    width: 100%;
}
.nav-icons{
    display: block;
    width: 25px;
}
.profile-picture{
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.profile-picture:hover{
    opacity: 0.75;
}


.btn{
    padding: var(--btn-padding);
    display: inline-block;
    cursor: pointer;
    border-radius:var(--border-radius);
    font-size: 0.9rem;
    font-weight: 400;
    transition: 300ms ease all;
    
}
.btn:hover{
    opacity: 0.75;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}

.text-bold{
    font-weight: 500;
}
.text-gry{
    color: var(--color-gray);
}

/* ..............Start NavBar....... */
 nav{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: .7rem 0;
    background: var(--color-white);

 }
 .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 nav .serch-bar{
    padding: var(--search-padding);
    background: var(--color-light);
    border-radius: var(--border-radius);

 }
 nav .serch-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: .9rem;
    color: var(--color-dark) ;
 }
 nav .serch-bar input[type="search"]::placeholder{
    color: var(--color-gray);
 }
 .add-post{
    display: flex;
    align-items: center;
    gap: 2rem;
 }
 .logo h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
    color: var(--color-dark);
 }
 .logo span{
    color: var(--color-danger);
 }
/* ..............End NavBar.........  */





/* ..............Start Main Section  .........  */
main{
    position: relative;
    top: 6rem;
}
.main-container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    position: relative;
    column-gap: 2rem;
}
/* ...........Start Main Left............ */
.main-left{
    position: sticky;
    height: max-content;
    top: 5.4rem;
}
.main-left .profile{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 100%;
    gap: 1rem;
    display: flex;
}
aside{
    margin-top: 1rem;
    border-radius:var(--card-border-radius) ;
   
}
aside .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    position: relative;
    cursor: pointer;
    transition: 300ms ease all;
    background: var(--color-white);
}
aside .menu-item:hover{
background: var(--color-light);
}
aside .menu-item span img{
    width: 1.8rem;
    margin-left: 2rem;
    position: relative;
   
}
aside .notify-counter{
     background: var(--color-danger);
     color: var(--color-white);
     width: fit-content;
     font-size: .7rem;
     border-radius: 30%;
     padding: .1rem .4rem;
     position: absolute;
     top: .7rem;
     left: 3.2rem;
}
aside .menu-item h3{
    margin-left: 1.5rem ;
    font-size: 1rem;
}
aside .active{
    background: var(--color-light);
}
aside .active h3{
    color: var(--color-primary);
}
aside .active::before{
    content: '';
    display: block;
    width: .5rem;
    height: 100%;
    background: var(--color-primary);
}
aside .menu-item:first-child{
    overflow: hidden;
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
}
aside .menu-item:nth-last-child(2){
    overflow: hidden;
    border-bottom-left-radius:var(--card-border-radius) ;
    border-bottom-right-radius: var(--card-border-radius);
}
.btn-lg{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
/* ...........End Main Left............ */


/* ...........Start Notifications Box............ */
.notification-box{
    width: 30rem;
    left: 110%;
    position: absolute;
    top: 0;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--color-primary) 0 0 1rem;
    z-index: 8;
    display: none;
}
.notification-box::before{
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-white);
    position: absolute;
    left: -.6rem;
    transform: rotate(45deg);
    

}
.notification-box>div{
    display: flex;
    gap: 1rem;
    align-items: start;
    margin-bottom: 1rem;
   
}
.notification-box .profile-picture{
    width: 2.6rem;
}
.notification-box>div small{
    display: block;
}

/* ...........End Notifications Box............ */



/* ..............End Main Section .........  */